body{
    margin:0;
    overflow:hidden;
    font-family:Arial,sans-serif;
    background:#000;
}
.background{
    position: fixed;
    inset: 0;
    background: url("images/welcome.jpg") center center/cover no-repeat;
    z-index: -2;
}

#petals{
    position:fixed;
    inset:0;
    pointer-events:none;
    overflow:hidden;
    z-index:1;
}

.petal{
    position:absolute;
    width:18px;
    height:18px;
    background:#ffb6c1;
    border-radius:18px 0 18px 0;
    opacity:.8;
    animation:fall linear forwards;
}

@keyframes fall{
    from{
        transform:translateY(-30px) rotate(0deg);
    }

    to{
        transform:translateY(110vh) translateX(120px) rotate(360deg);
    }
}

.menu{
    position: absolute;
    z-index: 10;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
    color:white;
    padding:40px;
    border-radius:30px;
    backdrop-filter:blur(15px);
    background:rgba(0,0,0,.25);
    border:2px solid rgba(255,255,255,.2);
}

.menu h1{
    font-size:56px;
    text-shadow:0 0 20px #ff8fd3;
}

.menu p{
    font-size:24px;
    margin-top:20px;
}

.btn{
    display:inline-block;
    margin-top:35px;
    padding:18px 60px;
    background:linear-gradient(45deg,#ff4fa3,#ff79c8);
    color:white;
    text-decoration:none;
    border-radius:50px;
    font-size:24px;
    font-weight:bold;
    box-shadow:0 0 25px #ff4fa3;
    transition:.3s;
}

.btn:hover{
    transform:scale(1.08);
    box-shadow:0 0 45px #ff4fa3;
}

@media (max-width:768px){

    .menu{
        width:90%;
        padding:25px;
    }

    .menu h1{
        font-size:36px;
    }

    .menu p{
        font-size:20px;
    }

    .btn{
        font-size:20px;
        padding:15px 40px;
    }

}