body{
    margin:0;
    overflow:hidden;
}

.background{
    position:fixed;
    width:100%;
    height:100%;
    background:url("assets/sakura.webp.jpg") center center/cover no-repeat;
}

.menu{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);

    width:650px;
    padding:50px;

    border-radius:35px;

    background:rgba(255,255,255,.12);
    backdrop-filter:blur(18px);

    border:2px solid rgba(255,255,255,.3);

    box-shadow:0 0 40px rgba(255,120,220,.4);

    text-align:center;
}