*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    overflow:hidden;
    font-family:Arial, sans-serif;
}

/* Фон */
.background{
    position:fixed;
    inset:0;
    background:url("welcome.jpg") center center/cover no-repeat;
    z-index:-3;
}

/* Затемнение */
.overlay{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.35);
    z-index:-2;
}

/* Лепестки */
#petals{
    position:fixed;
    inset:0;
    pointer-events:none;
    overflow:hidden;
    z-index:2;
}

.petal{
    position:absolute;
    width:18px;
    height:18px;
    background:#ffb6d5;
    border-radius:18px 0 18px 0;
    opacity:.8;
    animation:fall linear forwards;
}

@keyframes fall{
    from{
        transform:translateY(-40px) rotate(0deg);
    }

    to{
        transform:translateY(110vh) translateX(120px) rotate(360deg);
    }
}

/* Центральная карточка */
.menu{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:700px;
    max-width:90%;
    padding:60px;
    text-align:center;

    background:rgba(255,255,255,.15);
    backdrop-filter:blur(18px);

    border:2px solid rgba(255,255,255,.3);
    border-radius:35px;

    box-shadow:0 0 50px rgba(255,170,220,.6);
}

/* Заголовок */
.menu h1{
    color:white;
    font-size:60px;
    text-shadow:
    0 0 15px #fff,
    0 0 35px #ff6fd8,
    0 0 60px #ff4fa3;
}

/* Текст */
.menu p{
    color:white;
    font-size:28px;
    margin-top:25px;
}

/* Кнопка */
.btn{
    display:inline-block;
    margin-top:45px;
    padding:18px 70px;

    color:white;
    text-decoration:none;
    font-size:28px;
    font-weight:bold;

    border-radius:50px;

    background:linear-gradient(#ff4fa3,#ff7ac8);

    box-shadow:0 0 25px #ff4fa3;

    transition:.3s;
}

.btn:hover{
    transform:scale(1.08);
    box-shadow:0 0 45px #ff4fa3;
}

/* Телефон */
@media (max-width:768px){

    .menu{
        width:90%;
        padding:35px;
    }

    .menu h1{
        font-size:38px;
    }

    .menu p{
        font-size:22px;
    }

    .btn{
        font-size:22px;
        padding:16px 45px;
    }

}